.inputBtn{
    padding: 1rem;
}
.input{
    width: 15rem;
    height: 2rem;
}

textarea{
    resize: none;
    /* padding: 1rem; */
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    /* width: inherit; */
    width: 100%;


}
&:focus {
    outline: none;
}
.picker{
    padding: 1.3rem;
}
.suscesfull{
    text-align: center;
    font-size: 1.5em;
    color: green;
}

.card{
    height: max-content;
    height: 90vh;
    /* width: 50vw; */
    padding-bottom: 5rem;
    margin: 0;
}
& p{
text-align: right;
}
.card h2{
    text-align: center;
}

@media only screen and (max-width: 780px) {
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
}
.card form{
    width: 80vw;
}
textarea{
    resize: none;
    padding: 1rem;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    width: inherit;
    width: 70vw;
}
& p{
    text-align: right ; 
    }   
}