.classList{
min-height: 95vh;
width: 30vw;
border: none;
background-color: rgba(8, 48, 133, 0.2);
color: wheat;
padding: 3rem;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;
list-style-type: none;
border-radius: 10px;
display: flex;
justify-content: space-between;
flex-direction: column;
left: 0;
margin: 3rem 3rem 1rem 0;
}
.classList li{
    padding: 2px;
    border-bottom: 1px dashed wheat;
}
.mainAdminPanel{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.navigation{
    align-items: center;
    flex-direction: row;
    display: flex;
    color: wheat;
    gap: 5rem;
    justify-content: space-evenly;
    list-style-type: none;
    
    
    
}

.navigation li {
    border: 1px solid wheat;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;

}

.navigation li:hover{
    background-color: aqua;
    color: blue;
}


.addNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 1rem;
    border: 1px solid wheat;
}
.listFilteredSchool{
    height: 10rem;
    width: 40%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.filteredSchool{
    list-style-type: none;
    border-bottom: dashed 1px black;
    padding: 0.5rem;
}

@media only screen and (max-width: 780px) {
    .filteredSchool {
        list-style-type: none;
        border-bottom: dashed 1px black;
        /* padding: 0.5rem; */
        width: 80vw;
    }
    
    .mainAdminPanel{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vh;
        }

        .classList{
            width: 80vw;
            border: none;
            background-color: rgba(8, 48, 133, 0.2);
            color: wheat;
            padding: 3rem;
            font-size: larger;
            font-family : Verdana, Geneva, Tahoma, sans-serif;
            list-style-type: none;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            }
            .classList li{
                padding: 2px;
                border-bottom: 1px dashed wheat;
            }
            
.navigation{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
    
    
}

.navigation li {
    border: 1px solid blue;
    background-color: blueviolet;
    padding: 1rem;
    /* margin: 0.5rem; */
    cursor: pointer;
}

.navigation li:hover{
    color: blue;
}

.height{
    width: 90vw;
}
.regClass{
    width: 80vw;
}
.regClass ul{
    width: 70%;
    padding: 2rem;
}
.unregClass{
    width: 80vw;
    padding: 3rem;
    line-height: 2em;
}
.unregClass ul{
    width: 70%;
}
.unregClass li {
    list-style-type: none;
}
}