.adminPanel{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 4rem;
    /* flex-direction: column; */
}

/* .height{
height: fit-content;
} */

.classList{
    height: 80vh;
    width: 25vw;
    list-style-type:  none;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 1rem;
    /* top: 1rem; */
    /* left: 0; */
    
}
.classList li {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    text-align: left;
}

.home{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15rem;
    padding: 3rem;
}