.curriculum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.list{
    list-style-type: none;
}


.headerModalInput{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.modalMP{
   display: flex;
   /* flex-direction: row; */
   /* flex-direction: row; */
   justify-content: center;
   /* justify-content: space-around; */
   /* align-items: center;   */
   /* flex-wrap: wrap; */
   /* gap: 1rem; */
   height: 90vh;
   /* width: 70vw; */
    /* margin-right: 5rem; */
   /* padding-top: 5rem; */
   /* margin: ; */
    
  }
  
  
  .modalMP label {
    font-size: 1em;
    color: black;
  display: inline;    
  }
  .nbrClPW{
    width: 15rem;
  } 

   input[type="radio"]{
    width: 0.8rem;
    
    
  }

.rbtn{
  display: inline-block;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

@media only screen and (max-width: 780px) {
  .curriculum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.formCurriculum {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* width: 70%; */
  margin: 1rem;
  padding: 1rem;
}
textarea{
  width: 20rem;
  height: 10vh;
}
}