.card {
    background-color: antiquewhite;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    border-radius: 15px;
    height: 60vh;
    width: 40vw;
    /* padding: 2rem; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
   
}

